# Dependências
node_modules/

# Builds e temporários
dist/
build/
.temp_ag_kit/
.agent/
.agents/

# Variáveis de ambiente
.env
.env.local

# Dados e Base de Dados
data/
*.csv
*.db
*.sqlite

# Ficheiros de sistema
.DS_Store
Thumbs.db